
<!--h1  {color: firebrick}
   body {background-color: cornflowerblue;}
    img {width: 400px}
    div#thirdDiv  {height: 1200px;width: 500px}
    div#thirdDiv  {background-color:chocolate}
    span#spanID {font-size:18px}
    span#spanID  {margin:50px}
    span#spanID {color: chartreuse;}
    div#thirdDiv {padding:50px}
    div#thirdDiv {border-style: solid; border-color:darkgreen}